<div>
    <h1>Events</h1>
</div>

<div class="wrapper">
    <div class="calendar">
        <%= month_calendar events: @events do |date, events| %>
            <%= date.day %>

            <% events.each do |event| %>
                <div>
                    <%= event.title %>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="search-event">
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>

    <div>
        <ul>
            <li>
                list of events <small>on date</small> <small>@ time</small>
                <hr />
            </li>
        </ul>
    </div>
</div>