<div class="row mx-1">
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="card mb-3">
                <div class="card-body">
                  <img src="<%= @company.logo_url %>" height="100" width="100">
                  <h5 class="card-title"><%= @company.name%></h5>
                  <p class= "card-text mb-2"><%= @company.address %></p>
                  <p>
                    <small>
                        <strong>Tags:</strong>
                        <%= @company.tags.order(name: :asc).map{ |t| t.humanized_name }.join(", ") %>
                    </small>
                  </p>
                </div>
              </div> 
            </div>
      
</div>