<h2> About Click Cloud </h2>
<br>
<div> 
    <p>Click Cloud is the leading event cloud for technology industry in Vancouver. We are founded for supporting IT community – anyone who has interest in IT industry. </p>
    <p>We provide latest information of IT companies in Vancouver with search and relevant filtering feature.  Also, we present schedule of popular and informative meet-up events as a list and a calendar as well, with search feature. To help users to accommodate to up-to-date trend of IT industry, we fetch fresh news about Tech companies every day and list them with links for details. </P>
    <p>We manage user accounts to welcome them to enjoy and contribute Click Cloud. Users can enjoy various data and publish their own company into our cloud, which makes our site more meaningful and productive.</p>
</div>

