<h2> About Click Cloud </h2>
<br>
<div> 
  <p>Click Cloud is a cloud for the technology industry in Vancouver. We're here to
    support anyone with an interest in IT.
  </p>
  <p>We provide the latest tech company info with a dynamic search engine including 
     tech stack filtering. Also, we keep you updated on the most popular tech meetup 
  </p>
  <p>For up-to-date news on trends in the IT industry, visit our 'News' page.
  </P>
</div>

