<h2> British Columbia’s tech community </h2>

<p>The BC Tech Association is guided by our mission to make BC the best place to grow a tech company. For more than 20 years, BC Tech has been providing opportunities for the tech industry to collaborate, learn, and grow together. We are dedicated to connecting companies, developing talent, sharing stories, and advocating on behalf of tech companies to keep our industry thriving. </p>

<p>Join the BC Tech Association to take advantage of the above benefits – and more. </p>