/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 *= require simple_calendar
 */

 @import "bootstrap";
 @import "news";
 @import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Passion+One|Roboto');
 html {
    height: 100%;
    box-sizing: border-box;
 }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
 } 

 .title {
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    letter-spacing: 1px;
 }
 body {
    // position: relative;
    margin: 0;
    min-height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
 }

 nav {
    font-size: 1.1rem;  
    letter-spacing: 2px;
    opacity: 0.9;
 }

 nav a {
    color: white;
 }
 nav a:hover { 
    color: #1ccddd;
 }

 .user {
    font-family: 'Passion One', cursive;
    font-size: 1rem;
    color: #66AB8C;
    font-weight: bolder;
 }

 .admin {
    color: #CCCBC6;
    font-weight: bolder;
 }
 
 footer {
    position: absolute;
    right: 0;

    left: 0;
    height: 70px;
    width: 100%;

    border-top: 1px solid #2c3e50;
    font-family: 'Roboto', sans-serif;
 }

 footer a {
    color: #2c3e50;
 }

 footer a:hover {
    color: #3c3c3c;
 }

 .jumbotron {
    background-color: #f7f9fb !important;
    opacity: 0.9;
 }

 .dash-img {
  opacity: 0.6;
 }

